# Configuración de la Base de Datos MySQL
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=sgc_pro

# Configuración del Servidor
PORT=3000

# Configuración de E-mail (Gmail)
# Solicitar credenciales institucionales para producción
EMAIL_USER=tu_email@guanajuato.gob.mx
EMAIL_PASS=tu_app_password
ADMIN_EMAIL=admin@guanajuato.gob.mx
